.side
  .header
    .header__user
      = current_user.name
    .header__edit
      %i.fa.fa-edit
      =link_to "#"
    .header__cog
      %i.fa.fa-cog
      =link_to "#"

  .contents
    .contents__group
      group
      =link_to "#"

