.side
  .header
    .header__user
      = current_user.name
    .header__edit
      = link_to new_group_path do
        %i.fa.fa-edit
    .header__cog
      %i.fa.fa-cog
      =link_to "#"

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。