
.wrapper{
  display: flex;
  .side{
   margin-right: auto;
    .header {
      height: 100px;
      width:300px;
      line-height: 100px;
      background-color: #253141;
      color: #ffffff;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
        &__user{
        margin-right: auto;
        }
        .fa-edit{
          color: #ffffff;
            }
        .fa-cog{
          color: #ffffff;
            }
      }
 
    .groups {
      background-color: #2f3e51;
      width:300px;
      height: calc(100vh - 100px);
      padding-left: 20px;
      padding-right: 20px;
      .group {
        padding-top: 20px;
        padding-bottom: 40px;
        &__name{
          color: #ffffff;
        }
        &__message{
          color: #ffffff;
        }
      }
    } 
  }
}